@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme {
  /* Primary Colors */
  --color-primary-100: #FFF2E6;
  --color-primary-500: #f39c12;
  --color-primary-700: #e67e22;
  --color-primary-900: #d35400;

  /* Secondary Colors */
  --color-secondary-500: #34495e;
  --color-secondary-700: #2c3e50;
  --color-secondary-900: #1a252f;

  /* Neutral Colors */
  --color-surface-50: #f8f9fa;
  --color-surface-200: #e2e3e5;
  --color-surface-300: #d9d9d9;
  --color-surface-500: #6c757d;
  --color-surface-700: #495057;

  /* Semantic Colors */
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-error: #dc3545;
  --color-info: #17a2b8;

  /* Typography */
  --text-heading-1: 56px;               /* Hero headlines, landing pages */
  --text-heading-1--font-weight: 600;
  --text-heading-2: 48px;               /* Section headlines, major announcements */
  --text-heading-2--font-weight: 600;
  --text-heading-2.5: 40px;               /* Ad hoc between */
  --text-heading-2.5--font-weight: 600;
  --text-heading-3: 32px;               /* Page titles, section headers */
  --text-heading-3--font-weight: 600;
  --text-heading-4: 24px; /* Card titles, component headers */
  --text-heading-4--font-weight: 500;
  --text-heading-5: 20px;               /* Slightly smaller */
  --text-heading-5--font-weight: 500;
  --text-subtitle: 18px;               /* Lead paragraphs, important descriptions */
  --text-subtitle--font-weight: 400;
  --text-body: 16px; /* General content, form fields */
  --text-body--font-weight: 400;
  --text-caption: 14px; /* Metadata, helper text */
  --text-caption--font-weight: 400;
  --text-label: 12px; /* Metadata, helper text */
  --text-label--font-weight: 600;
  --text-tiny: 10px; /* super tiny */
  --text-tiny--font-weight: 400;

  /* Custom shadow */
  --shadow-custom: 0px 0px 23px 0px #0000001A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);  
  --font-nunito-sans: var(--font-nunito-sans);  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

h1, h2 {
  font-family: var(--font-nunito-sans);
  line-height: 1.375;
}
